body{
  background-color: black;
}
/*remove bullets from list,browser default setting and add color*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DC143C;
    padding: 14px;
}

.headerimage{
background: url(../images/Ping_Pong_HD_48.jpg);
background-size: cover;
width: auto;
height: 650px;
padding-top: 0px;
z-index: -1;
}
.headerimage h2{
  color: white;
  font-style: italic;
}


.header {
    height:100px;
    width:100%;
    margin:0px auto;
    position: fixed;
}
.header h3{
  color: white;
  text-align: left;
font-style: italic;
}
